aiocron==1.8
aiofiles==23.2.1
aiohttp==3.9.1
aiosignal==1.3.1
aiosqlite==0.19.0
alembic==1.12.1
annotated-types==0.6.0
anyio==3.7.1
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.1.0
bcrypt==4.0.1
beanie==1.23.6
certifi==2023.11.17
cffi==1.16.0
click==8.1.7
colorama==0.4.6
colorlog==6.7.0
croniter==2.0.1
cryptography==41.0.7
dnspython==2.4.2
email-validator==2.0.0.post2
exceptiongroup==1.2.0
fastapi-cache2==0.2.1
fastapi-users-db-sqlalchemy==6.0.1
fastapi-users==12.1.2
fastapi==0.104.1
frozenlist==1.4.0
greenlet==3.0.1
h11==0.14.0
httpcore==1.0.2
httpx==0.25.2
idna==3.6
lazy-model==0.2.0
makefun==1.15.2
mako==1.3.0
markupsafe==2.1.3
motor==3.3.2
multidict==6.0.4
passlib[bcrypt]==1.7.4
pendulum==2.1.2
pillow==10.1.0
pycparser==2.21
pydantic-core==2.14.5
pydantic==2.5.2
pyjwt[crypto]==2.8.0
pymongo==4.6.0
python-dateutil==2.8.2
python-multipart==0.0.6
pytz==2023.3.post1
pytzdata==2020.1
pyyaml==6.0.1
ruamel-yaml-clib==0.2.8
ruamel-yaml==0.18.5
setuptools==69.0.2
six==1.16.0
sniffio==1.3.0
sqlalchemy==2.0.23
sqlalchemy[asyncio]==2.0.23
starlette==0.27.0
strenum==0.4.15
toml==0.10.2
typing-extensions==4.8.0
tzdata==2023.3
tzlocal==5.2
uvicorn==0.23.2
websockets==12.0
yarl==1.9.3
