aiocron==1.8
aiohttp==3.8.4
aiosignal==1.3.1
aiosqlite==0.18.0
alembic==1.10.4
anyio==3.6.2
asgiref==3.6.0
async-timeout==4.0.2
async-tio==1.3.2
attrs==23.1.0
bcrypt==4.0.1
beanie==1.18.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
colorlog==6.7.0
croniter==1.3.14
cryptography==40.0.2
dnspython==2.3.0
email-validator==2.0.0.post2
fastapi==0.95.1
fastapi-users==11.0.0
fastapi-users-db-sqlalchemy==5.0.0
frozenlist==1.3.3
greenlet==2.0.2
h11==0.14.0
httpcore==0.17.0
httpx==0.24.0
idna==3.4
lazy-model==0.0.5
makefun==1.15.1
Mako==1.2.4
MarkupSafe==2.1.2
motor==3.1.2
multidict==6.0.4
openai==0.27.6
OpenAIAuth==0.3.6
passlib==1.7.4
prompt-toolkit==3.0.38
pycparser==2.21
pydantic==1.10.7
PyJWT==2.6.0
pymongo==4.3.3
PySocks==1.7.1
python-dateutil==2.8.2
python-multipart==0.0.6
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
regex==2023.5.5
requests==2.29.0
revChatGPT==5.0.1
ruamel.yaml==0.17.22
six==1.16.0
sniffio==1.3.0
socksio==1.0.0
SQLAlchemy==2.0.12
starlette==0.26.1
tiktoken==0.3.3
toml==0.10.2
tqdm==4.65.0
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==4.3
urllib3==1.26.15
uvicorn==0.21.1
wcwidth==0.2.6
websockets==11.0.2
yarl==1.9.2
