print_sql: false
host: "127.0.0.1"
port: 8000
data_dir: ./data
database_url: "sqlite+aiosqlite:///data/database.db"
run_migration: false
jwt_secret: "SECRET"
jwt_lifetime_seconds: 86400
cookie_max_age: 86400
user_secret: "SECRET"

sync_conversations_on_startup: true
create_initial_admin_user: true
create_initial_user: false
initial_admin_username: admin
initial_admin_password: adminadmin
initial_user_username: user
initial_user_password: useruser

chatgpt_access_token: "chatgpt_access_token"
chatgpt_paid: false

# proxy configuration
# chatgpt_base_url: http://127.0.0.1:6062/api/
# run_reverse_proxy: true
# reverse_proxy_port: 6062
# reverse_proxy_binary_path: ChatGPT-Proxy-V4
# reverse_proxy_puid: "_puid value from cookie"

log_dir: ./logs
console_log_level: INFO

request_log_counter_time_window: 2592000  # 30 days
request_log_counter_interval: 1800  # 30 minutes